* {
  box-sizing: border-box;
}

body {
  -ms-content-zooming: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-drag: none;
  height: 100%;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  width: 100%;
  word-wrap: break-word;
  margin: 0 auto;
  overflow-x: hidden;
}
