.Header {
  background-color: #1C1C1B;
  display: flex;
  height: 80px;
  padding: 20px;
  width: 100%;

  &__title {
    align-self: center;
    color: white;
    font-family: 'OpenSansSemiBold';
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
