@font-face {
  font-family: 'OpenSansNormal';
  src: url('./Fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('./Fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('./Fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('./Fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('./Fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.App {
  background-color: white;
  height: 100vh;
  padding: 40px;
  font-family: 'OpenSansLight';
}

.Button {
  background: white;
  border-color: lightblue;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0, 0.1);
  color: lightblue;
  cursor: pointer;
  display: inline-block;
  font-family: 'OpenSansSemiBold';
  font-size: 20px;
  padding: 10px 20px 9px;
  text-shadow: 0px 0px 1px rgba(lightblue, 0.2);
  text-transform: uppercase;
  transition: all .3s ease;
}

.Button:hover {
  background-color: lightblue;
  border-color: lightblue;
  color: white;
  text-shadow: 0px 0px 1px rgba(white, 0.2);
}

.Card {
  background-color: rgba(0,0,0, 0.85);
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.2);
  display: inline-flex;
  flex-direction: column;
  height: 200px;
  justify-content: flex-end;
  margin-right: 6px;
  padding: 40px;
  position: relative;
  width: 300px;
  z-index: 0;
}

.Card--btcusd::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-mask: url('../src/Images/BTC-alt.svg') no-repeat;
  background-color: rgba(255,255,255, 0.1);
  content: '';
  display: block;
}

.Card--ethusd::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-mask: url('../src/Images/ETH-alt.svg') no-repeat;
  background-color: rgba(255,255,255, 0.1);
  content: '';
  display: block;
}

.Card__badge {
  color: white;
  font-family: 'OpenSansSemiBold';
  font-size: 40px;
  left: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 20px;
}

.Currency {
  background-color: white;
  border-radius: 3px;
  border: 1px solid white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  height: 80px;
  letter-spacing: 1px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.Currency--up {
  color: green;
}

.Currency--down {
  color: red;
}

.Currency__symbol,
.Currency__value {
  display: inline-block;
}

.Currency__value {
  margin-right: 10px;
}

.Currency__indicators {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.indicator {
  height: 20px;
  width: 20px;
  margin: 2px;
  opacity: 0;
}

.indicator--visible {
  animation: 1s forwards fadeIn;
}

.indicator--up {
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid green;
}

.indicator--down {
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

