* {
  box-sizing: border-box;
}

.App {
  background-color: white;
  height: 100vh;
}

.Center {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.Card {
  background-color: rgba(150,150,150, 1);
  border-radius: 2px;
  height: 200px;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0, 0.3);
  width: 200px;
}

.Currency {
  background-color: white;
  border-radius: 2px;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0 0 5 2px rgba(0,0,0,.2);
  margin: 20px;
  border: 1px solid white;
}

.Select {
  box-shadow: 0 0 5 2px rgba(0,0,0,.2);
  margin: 20px;
}
