@font-face {
  font-family: 'OpenSansNormal';
  src: url('./Fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('./Fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('./Fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


.App {
  background-color: white;
  height: 100vh;
  padding: 40px;
  font-family: 'OpenSansLight';
}

.Button {
  background: white;
  border-color: lightblue;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.2);
  color: lightblue;
  cursor: pointer;
  display: inline-block;
  font-family: 'OpenSansSemiBold';
  font-size: 20px;
  padding: 10px 20px 9px;
  text-shadow: 0px 0px 1px rgba(lightblue, 0.2);
  text-transform: uppercase;
  transition: all .3s ease;
}

.Button:hover {
  background-color: lightblue;
  border-color: lightblue;
  color: white;
  text-shadow: 0px 0px 1px rgba(white, 0.2);
}

.Card {
  background-color: rgba(150,150,150, 1);
  border-radius: 2px;
  height: 200px;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.2);
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  display: inline-block;
  margin: 20px;
}

.Currency {
  background-color: white;
  border-radius: 2px;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0 0 5 2px rgba(0,0,0,.2);
  border: 1px solid white;
  padding: 10px 20px 9px;
  text-align: center;
}

.Select {
  box-shadow: 0 0 5 2px rgba(0,0,0,.2);
}
